code,
pre { background-color: #ced4da; }
sup { color: #d9534f; }
a { color: #f0ad4e; text-decoration: none; }
a:hover { color: #f0ad4e; text-decoration: underline; }
label { display: block; }
textarea,
input:not([type="submit"]) { display: block; width: 100%; }
.block { padding: 5px 10px; }
